#TELECOM PACKET CHARGE FORWARD CONFIG FILE

item_count							      =	  2					        				#item number

#MESSAGE HEAD
#SPONSOR SERIAL NUMBER
start_pos_000                 =   20                				#
len_000                       =   12                  			#
direction_000 				        =   0                  				#
name_000                      =   "LA_SERIAL_NUMBER" 	#
type_000                      =   1                  				#
db_record_000                 =   0                  				#
valid_value_000               =   ""                 				#
db_alias_name_000             =   "LA_SERIAL_NUMBER"		#
db_alias_type_000             =   0                  				#
rev_0_000                     =   0                  				#
rev_1_000                     =   0                  				#

#RECORD DATE
start_pos_001                        =   54                 #start position
len_001                              =   8                 #length
direction_001							 	 =   0                  #start_pos's direction(0:postive, 1:negtive)
name_001                             =   "LA_RECORD_DATE"    #name
type_001                             =   1                  #type(0:int, 1:string)
db_record_001                        =   0                  #database record(0:not record, 1:record)
valid_value_001                      =   ""                 #valid company name
db_alias_name_001                    =   "LA_RECORD_DATE"    #alias name record in database
db_alias_type_001                    =   1                  #type record in database
rev_0_001                            =   0                  #reserve 0
rev_1_001                            =   0                  #reserve 1