#UNICOM PACKET REVERAL BACKWARD CONFIG FILE

item_count			     =	 3			#items number

#TRADE CODE
start_pos_000                        =   17                 	#start position
len_000                              =   4                 	#length
direction_000			     =   0                  	#start_pos's direction(0:postive, 1:negtive)
name_000                             =   "TRADE_CODE"    	#name
type_000                             =   1                  	#type(0:int, 1:string)
db_record_000                        =   1                  	#database record(0:not record, 1:record)
valid_value_000                      =   "2300"                 #valid company name
db_alias_name_000                    =   "TRADE_CODE"    	#alias name record in database
db_alias_type_000                    =   1                  	#type record in database
rev_0_000                            =   0                  	#reserve 0
rev_1_000                            =   0                  	#reserve 1

#SERIAL NUMBER
start_pos_001                        =   73                 	#start position
len_001                              =   20                 	#length
direction_001			     =   0                  	#start_pos's direction(0:postive, 1:negtive)
name_001                             =   "SERIAL_NUMBER"    	#name
type_001                             =   1                  	#type(0:int, 1:string)
db_record_001                        =   1                  	#database record(0:not record, 1:record)
valid_value_001                      =   ""                 	#valid company name
db_alias_name_001                    =   "SERIAL_NUMBER"    	#alias name record in database
db_alias_type_001                    =   1                  	#type record in database
rev_0_001                            =   0                  	#reserve 0
rev_1_001                            =   0                  	#reserve 1

#RECORD DATE
start_pos_002                        =   55                 	#start position
len_002                              =   8                 	#length
direction_002			     =   0                  	#start_pos's direction(0:postive, 1:negtive)
name_002                             =   "LA_RECORD_DATE"    	#name
type_002                             =   1                  	#type(0:int, 1:string)
db_record_002                        =   0                  	#database record(0:not record, 1:record)
valid_value_002                      =   ""                 	#valid company name
db_alias_name_002                    =   "LA_RECORD_DATE"    	#alias name record in database
db_alias_type_002                    =   1                  	#type record in database
rev_0_002                            =   0                  	#reserve 0
rev_1_002                            =   0                  	#reserve 1

#RESPONDE CODE
#start_pos_003                        =   22                 	#start position
#len_003                              =   2                  	#length
#direction_003			     =   1                  	#start_pos's direction(0:postive, 1:negtive)
#name_003                             =   "RESPONDE_CODE"    	#name
#type_003                             =   1                  	#type(0:int, 1:string)
#db_record_003                        =   0                  	#database record(0:not record, 1:record)
#valid_value_003                      =   "00"               	#valid company name
#db_alias_name_003                    =   "RESPONDE_CODE"    	#alias name record in database
#db_alias_type_003                    =   1                  	#type record in database
#rev_0_003                            =   0                  	#reserve 0
#rev_1_003                            =   0                  	#reserve 1
